/* Estilos para el formulario de contacto */
.contact-form {
    max-width: 400px; /* Ajusta el ancho máximo según tus preferencias */
    margin: 0 auto; /* Centrar horizontalmente */
    background-color: rgba(255, 255, 255, 0.1); /* Fondo transparente */
    padding: 20px;
    border-radius: 10px;
  }
  
  /* Estilo para hacer el texto blanco */
  .white-text {
    color: white;
  }
  
  /* Estilo para hacer los campos de entrada transparentes */
  .input-transparent {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    margin-bottom: 10px;
  }
  
  /* Estilo para hacer el botón transparente */
  .button-transparent {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 100%;
    margin-top: 10px;
  }
  
  /* Estilo para centrar el botón en el formulario */
  .button-container {
    text-align: center;
  }
  